@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Space+Grotesk:wght@300..700&display=swap');

.sedgwick-ave-regular {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* puedes cambiar el peso */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Space Grotesk", sans-serif;
}
