<footer class="bg-slate-50 w-full rounded-t-xl mt-20 tonal-layering surface-container-low">

    <div class="max-w-7xl mx-auto px-6 lg:px-12 py-16">

        <div class="flex flex-col md:flex-row justify-between items-center gap-8">

            <!-- LOGO / DESCRIPCION -->
            <div class="flex flex-col gap-4 text-center md:text-left">

                <div class="flex items-center gap-2 justify-center md:justify-start">
                    <span class="material-symbols-outlined text-cyan-800 text-2xl">
                        precision_manufacturing
                    </span>

                    <span class="font-headline font-bold text-cyan-900 text-xl">
                        Robótica Educativa – Métodos Activos
                    </span>
                </div>

                <p class="font-body text-sm text-slate-600 max-w-xs">
                    © 2026 Robótica Educativa – Métodos Activos. Formando estudiantes en tecnología,
                    creatividad y pensamiento crítico mediante robótica educativa.
                </p>

                <!--  CREDITOS -->
                <p class="text-xs text-slate-500 font-body">
                    Desarrollado por 
                    <a href="https://www.instagram.com/peppdevops/" target="_blank"
                    class="font-semibold text-cyan-700 hover:text-cyan-900 transition-colors">
                        peppdevops
                    </a>
                </p>

            </div>

            <!-- MENU -->
            <nav class="flex flex-wrap justify-center gap-8">

                <a class="text-slate-600 font-body text-sm hover:underline hover:text-cyan-600" href="#grid">
                    MTA
                </a>

                <a class="text-slate-600 font-body text-sm hover:underline hover:text-cyan-600" href="#projects">
                    Proyectos
                </a>

                <a class="text-slate-600 font-body text-sm hover:underline hover:text-cyan-600" href="#cta">
                    Robotica Educativa
                </a>

                <a class="text-slate-600 font-body text-sm hover:underline hover:text-cyan-600" href="#profile">
                    Perfil
                </a>

            </nav>

            <!-- REDES -->
            <div class="flex gap-4">

                <a class="w-10 h-10 rounded-full bg-white border border-slate-200 flex items-center justify-center text-slate-600 hover:text-pink-600 transition-colors" href="#">
                    <i class="fa-brands fa-instagram text-xl"></i>
                </a>

                <a class="w-10 h-10 rounded-full bg-white border border-slate-200 flex items-center justify-center text-slate-600 hover:text-black transition-colors" href="#">
                    <i class="fa-brands fa-tiktok text-xl"></i>
                </a>

            </div>

        </div>

    </div>

</footer>